# <center> <h1>Assignment 4</h1> </center>
<center> <h1>EIN 4933/6935 Python for Data Science Summer 2020</h1> </center>

## Questions:
*Return a Jupyter Notebook and a zipped folder for all files that you create. Do not include the database file.*<br/>
1) Click the link below and download the SQLite database named "chinook.db".<br/>
Link: https://sites.google.com/site/yasinunlu/home/research/new1/chinook.db<br/>
2) You can browse the given database file using an online database browser. Here is an example link: https://sqliteonline.com/. How many tables are there in the database?<br/>
3) Establish a connection using Python code below.<br/>
4) Choose and read 3 different tables in the database as Pandas dataframe. In the code below, you see a table named "tracks" stored into Pandas dataframe named "df_tracks".<br/>
5) Store each dataframe file as a CSV file in .csv and .txt extensions and a TSV file in .txt extension. For example, df_tracks dataframe should be stored under a name "tracks_CSV.csv", "tracks_CSV.txt" and "tracks_TSV.txt".<br/>
6) Store each dataframe file as a .json file by using `to_json()` in Pandas. For example, df_tracks dataframe should be stored under a name "tracks.json". Please note these files must be in JSON files.<br/>
7) Read each .json file as a single string by using `read()` function in Python.<br/>
8) You must notice this is not in a nice format (i.e. no indentation). Create a JSON object by using `json.loads()`.<br/> 
9) Convert the JSON object into an indented format by using `json.dumps()` function.<br/>
10) Write the formatted data into a file with .json extension. Use `write()` function. For example, the JSON formatted data of df_tracks dataframe should be stored under a name "tracks_formatted.json". 
## Bonus Questions:
*Return only a Jupyter Notebook.*<br/>
11) Report the names and the total number of tables in the database by using Python code.<br/>
12) Create  _CSV.csv, _CSV.txt, _TSV.txt and formatted .json files in an automated fashion using Python code.<br/>

In [9]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("Your work directory\\chinook.db")
df_tracks = pd.read_sql_query("select * from tracks;", conn) 
df_tracks.head()

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99