<center> <h1>DataFrame Exercise (Olympics)</h1> </center>

The following code loads the olympics dataset "olympics.csv" from a local directory and does some basic data cleaning.

In [1]:
import pandas as pd
#%cd C:\\Users\\yasin.unlu\\Documents\\Original Docs\\Documents1\\Docs\\Teaching\\PythonForDataScienceSummer2020\\Data\\Olympics

df = pd.read_csv('olympics.csv', index_col=0, encoding= 'unicode_escape')

#let's clean up the data
new_columns = ("summer_participations",
"summer_gold",
"summer_silver",
"summer_bronze",
"summer_total",
"winter_participations",
"winter_gold",
"winter_silver",
"winter_bronze",
"winter_total",
"total_participations",
"total_gold",
"total_silver",
"total_bronze",
"total_combined")
df.columns = new_columns
names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

## Question-1
Create a dedicated dataframe for the first country in df and report it.

In [13]:
new_df = df.head(1) #returns first row as a new dataframe
new_df = df.iloc[0] #returns first row as a pandas series
new_df = df.iloc[[0]] #returns first row as a dataframe
new_df

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG

## Question-2
Which country has won the most gold medals in summer games? Use for loop and if statement for your work.

In [29]:
max = 0
my_list = list(df['summer_gold']) #keeps number of summer gold medals
my_index = list(df.index) #keeps country names

for index, n_golds in enumerate(my_list):
    if n_golds >= max:
        max = n_golds
        tempIndex = index
my_index[tempIndex]

'United States'

You can also use a build-in Pandas function. We will use .idmax() function which is detailed in the link below. 
https://pandas.io/docs/reference/api/pandas.DataFrame.idxmax.html
You browse and study other Pandas buil-in functions.

In [31]:
df['summer_gold'].idxmax()

'United States'

# Question-3
Which country has the biggest difference between their summer and winter gold medal counts? Use for and if statement for your work.

In [54]:
tempDiff = 0
my_list_summer = list(df['summer_gold']) #keeps number of summer gold medals
my_list_winter = list(df['winter_gold']) #keeps number of winter gold medals
my_index = list(df.index) #keeps country names

for index, country in enumerate(my_index):
    diff = abs(my_list_summer[index] - my_list_winter[index])
    if diff >= tempDiff:
        tempDiff = diff
        tempCountry = country #keep the country name that has the largest difference in summer and gold medals
print(tempCountry)

United States

You can use a build-in Pandas function.

In [2]:
df['Gold Medal Diff'] = abs(df['summer_gold'] - df['winter_gold']) #add a new column named "Gold Medal Diff"
df['Gold Medal Diff'].idxmax()

'United States'

In [6]:
df.loc['United States']

summer_participations      26
summer_gold               976
summer_silver             757
summer_bronze             666
summer_total             2399
winter_participations      22
winter_gold                96
winter_silver             102
winter_bronze              84
winter_total              282
total_participations       48
total_gold               1072
total_silver              859
total_bronze              750
total_combined           2681
ID                        USA
Gold Medal Diff           880
Name: United States, dtype: object

## Question-4
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

In [7]:
tempDiff = 0
my_list_summer = list(df['summer_gold']) #keeps number of summer gold medals
my_list_winter = list(df['winter_gold']) #keeps number of winter gold medals
my_list_total = list(df['total_gold']) #keeps number of total gold medals
my_index = list(df.index) #keeps country names

for index, country in enumerate(my_index):
    #check if a country has won a least 1 gold in both summer and winter.
    if my_list_summer[index] > 0 and my_list_winter[index] > 0: 
        #check if the denominator is nonzero to avoid numerical issues
        if my_list_total[index] > 0:
            rel_diff = abs(my_list_summer[index] - my_list_winter[index])/my_list_total[index]
            if rel_diff >= tempDiff: #nested if
                tempDiff = rel_diff
                tempCountry = country #keep the country name that has the largest difference in summer and gold medals
print(tempCountry, tempDiff)

Bulgaria 0.9615384615384616

You can use a build-in Pandas function.

In [4]:
df_result = df.copy() #clone the existing dataframe
#make sure a country has won a least 1 gold in both summer and winter.
df_result = df_result[(df_result['summer_gold'] > 0) & (df_result['winter_gold'] > 0)] 
df_result['Gold Medal Diff'] = abs(df_result['summer_gold'] - df_result['winter_gold'])
df_result['Total Gold'] = df_result['summer_gold'] + df_result['winter_gold']
df_result['Relative Gold'] = df_result['Gold Medal Diff']/df_result['Total Gold']
df_result['Relative Gold'].idxmax()

'Bulgaria'

In [5]:
df_result

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID,Gold Medal Diff,Total Gold,Relative Gold
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,144,0.930556
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT,41,77,0.532468
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR,6,18,0.333333
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,38,0.947368
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,52,0.961538
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN,3,121,0.024793
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189,213,0.887324
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO,2,10,0.200000
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE,7,21,0.333333
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,51,0.921569
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST,5,13,0.384615
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN,59,143,0.412587
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171,233,0.733906
Germany,15,174,182,217,573,11,78,78,53,209,26,252,260,270,782,GER,96,252,0.380952
United Team of Germany,3,28,54,36,118,3,8,6,5,19,6,36,60,41,137,EUA,20,36,0.555556
East Germany,5,153,129,127,409,6,39,36,35,110,11,192,165,162,519,GDR,114,192,0.593750
West Germany,5,56,67,81,204,6,11,15,13,39,11,67,82,94,243,FRG,45,67,0.671642
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226,246,0.918699
Italy,26,198,166,185,549,22,37,34,43,114,48,235,200,228,663,ITA,161,235,0.685106
Japan,21,130,126,142,398,20,10,17,18,45,41,140,143,160,443,JPN,120,140,0.857143
Kazakhstan,5,16,17,19,52,6,1,3,3,7,11,17,20,22,59,KAZ,15,17,0.882353
South Korea,16,81,82,80,243,17,26,17,10,53,33,107,99,90,296,KOR,55,107,0.514019
Netherlands,25,77,85,104,266,20,37,38,35,110,45,114,123,139,376,NED,40,114,0.350877
Norway,24,56,49,43,148,22,118,111,100,329,46,174,160,143,477,NOR,62,174,0.356322
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL,58,70,0.828571
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS,83,181,0.458564
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317,473,0.670190
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN,36,54,0.666667
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK,5,9,0.555556
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO,2,6,0.333333
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,38,0.947368
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE,93,193,0.481865
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI,3,97,0.030928
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR,31,35,0.885714
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880,1072,0.820896
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB,4,6,0.666667

## Question-5
Add a new column called "Points" which is a weighted value where each total gold medal counts for 3 points, total silver medals for 2 points, and total bronze medals for 1 point. Report the first 5 rows of the new dataframe. Report the country that has the most points.

In [76]:
df['Points'] = df['total_gold']*3 + df['total_silver']*2 + df['total_bronze']
df.head()

,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participations,total_gold,total_silver,total_bronze,total_combined,ID,Gold Medal Diff,Points
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,0,2
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG,5,27
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG,18,130
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM,1,16
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ,3,22

In [78]:
df['Points'].idxmax()

'United States'